body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./jjk-background.jpg");
    background-size: cover;

}

#board {
    width: 540px;
    height: 540px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./black.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540x540, divide into 3x3 tiles --> 180x180 per div */
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}

#board div img {
    /* all img tags inside the tile div tags */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

#leaderboardSection{
    width: 540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
    background-color: rgba(11,11,11,.5);
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
  }

  ol li {
    font-size: 15px;
    background-color: #0E1E5B;
    color: white;
    text-align: center;
    list-style-type: none;
    width: 325px;
    margin-left: 68px;
    padding-bottom: 30px;
    padding-top: 20px
  }
  
#lb{
    border-bottom:5px solid #333;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 15px;
    padding-top:15px;
    background-color: #0E1E5B;
    margin-top: 0;
    margin-bottom: 0;
  }